<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Include Bootstrap -->
    <% include ./partials/bootstrap.ejs %>

    <!-- Include basic styling-->
    <% include ./partials/baseCSS.ejs %>
    <title>notation |   minimal note taking app</title>
</head>
<body>
    <% if ( error.length > 0) { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
    <% } %>
    <form action="/users/login" method="post">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
<p><small>If you have no Notation-Account, you can register one <a href="/users/auth/register" target="_self">here</a>.</small></p>
</body>
</html>
