.notes-list{
    width: 30%;
}

#note-preview{  
    width: 70%;
    padding: 0 0 0 2em;

}

.btn{
    margin: 0 0 0 1em;
}

.container{
    display: flex;
    align-self: flex-start;
}

.flex-container {
    padding: 2em 0 0 2em;
    margin: 0;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }